<nav>
    <div class="site-title">
      <a href="/"><h1>My Profile</h1></a>
      <p>John Luu</p>
    </div>
    <ul>
      <li><a href="/">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects/create">New Projects</a></li>
    </ul>
  </nav>