<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>

  <body>
    <%- include ('./partials/nav.ejs') %>


    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi vero
        voluptatum, saepe amet in unde. Saepe dolor reprehenderit ullam, ipsam,
        fuga, incidunt laboriosam facere inventore cumque sequi aperiam. Nemo,
        blanditiis!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi vero
        voluptatum, saepe amet in unde. Saepe dolor reprehenderit ullam, ipsam,
        fuga, incidunt laboriosam facere inventore cumque sequi aperiam. Nemo,
        blanditiis!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi vero
        voluptatum, saepe amet in unde. Saepe dolor reprehenderit ullam, ipsam,
        fuga, incidunt laboriosam facere inventore cumque sequi aperiam. Nemo,
        blanditiis!
      </p>
    </div>
    <%- include ('./partials/footer.ejs') %>

  </body>
</html>
