<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %>

  <body>
    <%- include ('../partials/nav.ejs') %>

    <div class="create-project content">
        <form action="/projects" method="POST">
            <label for="title">Project title:</label>
            <input type="text" id="title" name="title" required>
            <label for="codeUrl">Project code:</label>
            <input type="text" id="codeUrl" name="codeUrl" required>
            <label for="pageUrl">Project page:</label>
            <input type="text" id="pageUrl" name="pageUrl" required>
            <label for="body">Project Description:</label>
            <textarea id="description" name="description" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
